.ant-radio-button-wrapper {
    position: relative;
    display: inline-block;
    height: 32px;
    margin: 0;
    padding: 0 15px;
    color: rgba(255,255,255,0.65) !important;
    line-height: 30px;
    background: #fff;
    border: 0px !important;
    cursor: pointer;
    -webkit-transition: color 0.1s, background 0.3s, border-color 0.3s;
    transition: color 0.1s, background 0.3s, border-color 0.3s;
  }

  .ant-radio-button-wrapper:hover {
    position: relative;
    color: rgba(24,144,255,1)  !important;
  }

  .ant-radio-button-wrapper-checked {
    z-index: 1;
    color: rgb(19, 95, 165)!important;
    border: 3px  !important;
    background: #fff;
    border-color: rgba(24,144,255,0.5)!important;
    -webkit-box-shadow: -1px 0 0 0 rgba(255,255,255,0);
            box-shadow: -1px 0 0 0 rgba(255,255,255,0);
  }

  .ant-radio-button-wrapper-checked::before {
    border-color: rgba(255,255,255,0) !important;
    opacity: 0.1;
  }
  .ant-radio-button-wrapper-checked:first-child {
    border-color: rgba(255,255,255,0) !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .ant-radio-button-wrapper-checked:hover {
    color: #40a9ff;
    border-color: rgba(255,255,255,0) !important;
    -webkit-box-shadow: -1px 0 0 0 rgba(255,255,255,0);
            box-shadow: -1px 0 0 0 rgba(255,255,255,0);
  }
  .ant-radio-button-wrapper-checked:active {
    color: #096dd9;
    border-color: rgba(255,255,255,0) !important;
    -webkit-box-shadow: -1px 0 0 0 rgba(255,255,255,0);
            box-shadow: -1px 0 0 0 rgba(255,255,255,0);
  }
  .ant-radio-button-wrapper-checked:focus-within {
    outline: 0px solid rgba(24, 144, 255, 1);
  }

  .test{
    color: rgba(22, 80, 105, 0.7)
  }