.Welcome-body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
button{
    background-color:transparent;
    border-color:lightslategray;
    color:white;
    font-size:22px;
    text-align:center;
    vertical-align:middle;
    line-height:2px;
    width:220px;
    height:60px;
    border-radius:40px 40px 40px 40px;
}