

     .background-1 {
        background: #282537;
        background-image: -webkit-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
        background-image: -moz-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
        background-image: -o-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
        background-image: radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
       }                  

       .ant-tabs-tab-prev,
       .ant-tabs-tab-next {
         position: absolute;
         z-index: 2;
         width: 0;
         height: 100%;
         color: rgba(255, 255, 255, 0.7) !important;
         text-align: center;
         background-color: transparent;
         border: 0;
         cursor: pointer;
         opacity: 0;
         -webkit-transition: width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
         transition: width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
         -webkit-user-select: none;
            -moz-user-select: none;
             -ms-user-select: none;
                 user-select: none;
         pointer-events: none;
       }

       .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab .ant-tabs-close-x {
         width: 16px;
         height: 16px;
         height: 14px;
         margin-right: -5px;
         margin-left: 3px;
         overflow: hidden;
         color: rgba(0, 0, 0, 0.45);
         font-size: 20px !important;
         vertical-align: middle;
         -webkit-transition: all 0.3s;
         transition: all 0.3s;
       }
