.WEL{
    text-align: center;
  }
.top{
    font-size:100px;
    color:white;
}
.sma{
    color:rgb(197, 240, 248);
}
  
  .welcome1 {
    height: 900;
    width: 1600;
    background-image: url("../photo/1.jpg");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(50px + 2vmin);

  }
  .welcome2 {
    height: 900;
    width: 1600;
    background-image: url("../photo/3.jpg");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(50px + 2vmin);
  }
  
  .welcome3 {
    height: 900;
    width: 1600;
    background-image: url("../photo/4正.jpg");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(50px + 2vmin);

  }
  
  .welcome4 {
    height: 900;
    width: 1600;
    background-image: url("../photo/5-暗.jpg");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(50px + 2vmin);
  }
  .login-button {
    background-color:rgba(26, 23, 23, 0.5);
    font-size: 40px;
    border-radius: 125x;
    border-color: rgb(255, 255, 255);
    color:rgb(133, 237, 255);
  }
  
  .login-button:hover{
    background-color:rgba(26, 23, 23, 0.8);
    font-size:40px;
    border-color: rgba(26, 23, 23, 0.8);
    border-radius: 12px;
    color:rgb(133, 237, 255);
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }