.WEL{
    text-align: center;
  }
.top{
    font-size:100px;
    color:white;
}
.sma{
    color:rgb(251,226,81);
}
  
  .welcome {
    height: 900;
    width: 1600;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(50px + 2vmin);

  }
 
  .login-button {
    background-color:rgba(26, 23, 23, 0.5);
    font-size: 40px;
    border-radius: 125x;
    border-color: rgb(255, 255, 255);
    color:rgb(69, 127, 173);
  }
  
  .login-button:hover{
    background-color:rgba(26, 23, 23, 0.8);
    font-size:40px;
    border-color: rgba(26, 23, 23, 0.8);
    border-radius: 12px;
    color:rgb(88, 98, 155);
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }